{% extends 'base.html.twig' %}
{% block body %}

    <div class="d-flex justify-content-center text-center">
        {{ form_start(form) }}
        <h2>Edytuj wydarzenie:</h2>
        <table class="table table-responsive table-borderless">
            <tr><td>Nazwa wydarzenia:</td><td>{{ form_row(form.name) }}</td></tr>
            <tr><td>Aktywność:</td><td>{{ form_row(form.activity) }}</td></tr>
            <tr><td>Data wydarzenia:</td><td>{{ form_row(form.date) }}</td></tr>
            <tr><td>Miejsce wydarzenia:</td><td>{{ form_row(form.placeOfMetting) }}</td></tr>
            <tr><td>Zdjęcie wydarznia (opcjonalnie):</td><td>{{ form_row(form.eventPhotoName) }}</td></tr>
            <tr><td>Opis wydarzenia (opcjonalnie):</td><td>{{ form_row(form.description) }}</td></tr>
            <tr><td>Cena uczestnictwa:</td><td>{{ form_row(form.price) }}</td></tr>
            <tr><td>Ilość miejsc:</td><td>{{ form_row(form.numberOfSeats) }}</td></tr>
            <tr>
                <td colspan="2">
                    <button type="reset" class="btn btn-danger">Reset</button>
                    <button type="submit" class="btn btn-success">Edytuj wydarzenie!</button>

                </td>
            </tr>
        </table>
        {{ form_end(form) }}
    </div>


{% endblock %}