{%  extends 'base.html.twig' %}
{% block body %}

        <div class="wrapper">
            <div class="left">
                {% if app.user.profilePhotoName%}
                    <img class="img-profile rounded-circle mr-2" src="{{ asset('static/img/uploaded/profilePhotos/' ~ app.user.profilePhotoName) }}" alt="profilowe_zdjecie">
                {% else %}
                    <img class="img-profile rounded-circle mr-2" src="{{ asset('static/img/user.png') }}" alt="profilowe_zdjecie">
                {% endif %}
                <h4>{{ user.firstName }} {{ user.lastName }}</h4>
                <p>
                    {% if user.roles | length > 1 %}
                        Administrator
                    {% endif %}
                </p>
                <p>{{ user.email }}</p>
                <p><a class="btn btn-secondary" href="{{ asset('/user/edit') }}">Edytuj profil</a></p>
            </div>
            <div class="right">
                <div class="info">
                    <h3>Średnia ocen:</h3>
                    <div class="info_data">
                        <div class="data">
                            <table class="table table-responsive table-borderless">
                                {% if grades %}
                                    <tr><td>Poziom gry: </td><td>{{ grades.gameLevelGrade }}</td></tr>
                                    <tr><td>Kultura i nastawienie:</td><td> {{ grades.cultureGrade }}</td></tr>
                                    <tr><td>Poziom zaufania :</td><td>{{ grades.trustGrade }}</td></tr>
                                {% else %}
                                    <tr><td>Brak aktualnych ocen!</td></tr>
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </div>

                <div class="projects">
                    <h3>Ostatnie Transakcje</h3>
                    <div class="projects_data">
                        <div class="data text-center">
                            <table class="table table-responsive table-borderless">
                                {% if transactions %}
                                    {% for transaction in transactions  %}
                                        <tr>
                                            <td>
                                                {% if transaction.type == 'payment' %}
                                                    Wpłata
                                                {% else %}
                                                    Wypłata
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ transaction.amount }}
                                            </td>
                                            <td>
                                                {{ transaction.date| date('d-m-Y') }}
                                            </td>
                                        </tr>
                                    {% endfor %}

                                {% else %}
                                Brak transakcji
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>



{% endblock %}