{% extends 'base.html.twig' %}
{% block body %}


    {% for event in eventsCreated %}


        <div class="card-media">
            <!-- media container -->
            <div class="card-media-object-container">



                <div class="card-media-object">
                    {% if event.eventPhotoName %}
                        <img  id="imgEvent" src="{{ asset('static/img/uploaded/eventsPhotos/' ~ event.eventPhotoName) }}" alt="profilowe_zdjecie">
                    {% else %}
                        <img src="{{ asset('static/img/brak_zdjecia.png') }}" alt="zdjecie_eventu" id="imgEvent">
                    {% endif%}
                </div>
                <span class="card-media-object-tag subtle">{{ event.activity }}</span>
                
            </div>


            <div class="card-media-body">
                <div class="card-media-body-top">
                    <span class="subtle"><i class="far fa-calendar-alt m-1"></i>{{ event.date|date('d-m-Y H:m')}}</span>

                </div>
                <span class="card-media-body-heading">
                        <a class="font-weight-bold" style="font-size: x-large"> {{ event.name}}</a><br/>
                        <a> {{ event.description }} </a>

                    </span>
                <div class="card-media-body-supporting-bottom">
                    <span class="card-media-body-supporting-bottom-text subtle"><i class="fas fa-map-marker-alt p-1"> {{ event.placeOfMetting }}</i></span>
                    <span class="card-media-body-supporting-bottom-text subtle u-float-right">
                            Ilość miejsc:  {{ event.numberOfSeats }}
                        {% if event.price %}
                            Cena:
                            {{ event.price }}
                            zł
                        {% else %}
                            <a class="font-weight-bold" style="color: #FFA000">Za darmo!</a>
                        {% endif %}
                        </span>
                </div>
                <div class="card-media-body-supporting-bottom card-media-body-supporting-bottom-reveal">
                        <span class="card-media-body-supporting-bottom-text subtle">

                             <a type="button" class="btn btn-success" href="{{ path('editEvent',{eventId:event.id}) }}">Edytuj wydarzenie!</a>
                            <a type="button" class="btn btn-info" href="{{ path('userRating',{eventId:event.id}) }}">Oceń uczestników wydarzenia!</a>

                        </span>
                    <a href="{{ path('pageOfEvent',{eventId:event.id}) }}" class="card-media-body-supporting-bottom-text card-media-link u-float-right">Więcej szczegółów</a>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}